
    <app-miresponsive-data [plantilla]="true" [base]="base" [dataList]="data"> 
        
        <ng-template #content let-datos>
            <div style="display: flex;flex-direction: column;">
                <span>{{datos.name}}</span>
                <span>{{datos.edad}}</span>
            </div>
          </ng-template>

          <ng-template #action>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            Delete
          </button>
          </ng-template>

    </app-miresponsive-data>


<ng-template #base>
        <my-table
        [config]="config$ | async"
        [data]="data$ | async"
        (newPage)="updateTable($event)"
        (selection)="goDetails($event)"
        ></my-table>
</ng-template>



